OPENAI_API_KEY=your_openai_key
MODEL_BASE_URL=https://api.openai.com/v1
MODEL_NAME=gpt-5

MAGNETIC_PROMPTS_FILE=config/prompts/magnetic_one.yml

# docker | local
CODE_EXECUTOR_MODE=docker
CODE_EXECUTOR_IMAGE=autogen-custom-python
